.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.sortLabel {
    font-weight: bold;
}
.sortContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
.postContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}

.loading {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .postContainer {
        grid-template-columns: auto;
    }
    .sortContainer {
        align-items: center;
    }
}