.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    margin: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hr {
    border-top: 1px solid black;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.subscriptionsContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 20px;
    column-gap: 20px;
    row-gap: 20px;
}

@media (max-width: 768px) {
    .subscriptionsContainer {
        grid-template-columns: auto;
    }
}