.card {
    background: #F5F5F5;
    border-radius: 8px;
    padding: 10px 20px;
}
.title {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
    text-transform: capitalize;
}
.text {
    font-size: 14px;
}