.container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 20px;
    column-gap: 20px;
    row-gap: 20px;
}
.errorContainer {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error {
    background-color: var(--color-red-100);
    border: 1px solid var(--color-red-400);
    border-radius: 10px;
    color: var(--color-red-700);
    padding: 10px 20px;
}
.loading {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: auto;
    }
}